:root
{
    --header-height: 0px;
}

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: #ececea;
}

/*-----Overall Content-----*/

#site-content
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

#content
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
    gap: 1em;
}

/*-----Image-----*/

#image-holder
{
    justify-self: center;
    grid-column: 2/12;
    width: 100%;
    height: 100;

    margin-top: 1.5em;
    margin-bottom: 2em;
}

#image
{
    width: 100%;
    height: auto;

    border: 3px #484848 solid;
    border-radius: 50%;
}

/*-----Header-----*/
#header
{
    position: fixed;
    grid-column: 1/13;
    width: 100%;
}

#header-bar
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 1em 0em 1em 0em;
    background-color: #484848;
}

#menu-icon
{
    display: none;
    grid-column: 11/12;
    grid-row: 1;
    justify-self: right;
    width: 1.5em;
    margin: 1em 0em 0em 0em;

    cursor: pointer;
}

#menu-icon.active
{
    display: inline;
}

#header-title
{
    display: inline;
    grid-column: 2/6;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5em;
}

#header-title a
{
    text-decoration: none;
    color: #e37676;
    cursor: pointer;
}

#header-title a:hover
{
    color: #ececea;
}

/*-----Navigator------*/
#nav-menu
{
    background-color: #484848;
    color: #ececea;
    font-family: 'Roboto Slab', serif;
    list-style: none;
}

#nav-inner-holder, #nav-inner-holder #nav-menu, #nav-inner-holder .nav-menu-option
{
    display: inline;
}

.nav-menu-option
{
    text-decoration: none;
    color: #ececea;
}

.nav-menu-option:hover
{
    color: #e37676;
    cursor: pointer;
}

#nav-inner-holder 
{
    float: right;
    padding-top: 1em;
}

#nav-inner-holder .nav-menu-option
{
    margin-left: 1em;
    font-size: 2em;
}

.nav-menu-option:hover
{
    color: #e37676;
}

#nav-outer-holder
{
    display: none;
    width: 100%;
    height: 100%;

    background-color: #484848;
}

#nav-outer-holder.active
{
    display: block;
}

#nav-outer-holder .nav-menu-option
{
    display: block;
    padding: 1em;
    border-top: 1px solid #242424;
}

#nav-outer-holder .nav-menu-option:hover
{
    background-color: #363636;
}
/*-----Content Styling------*/
.card
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 2/12;
    font-family: Arial, Helvetica, sans-serif;
}

.card-contents
{
    grid-column: 1/13;
}


.card-title
{
    grid-column: 1/13;
    margin-bottom: .5em;
    color: #484848;
    font-family: 'Roboto Slab', serif;
}

.card-text
{
    grid-column: 1/13;
    color: #484848;
    font-size: .9em;
}

.card-text span
{
    font-weight: bold;
}

.card-text ul
{
    list-style-position: inside;
}

.card-link
{
    grid-column: 1/13;
    margin: .5em 0em 0em 0em;
    color: #e37676;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.card-link:hover  
{
    color: #484848;
    cursor: pointer;
}

#socials
{
    grid-column: 1/13;
    margin-top: 1em;
}

.social-icon
{
    margin-right: 1em;
    cursor: pointer;
}

hr
{
    grid-column: 2/12;
    margin: 1em 0em 1em 0em;
    border: none;
    border-bottom: 3px #484848 solid;
}

/*-----Footer-----*/

#footer
{
    grid-column: 1/13;
    margin-top: 2em;
    height: var(--header-height);
    background-color: #484848;
}

/*-----Anchors-----*/

.anchor
{
    scroll-margin-top: var(--header-height);
}

/*-----Responsiveness-----*/

@media only screen and (min-width: 375px) 
{
    #menu-icon
    {
        width: 2em;
    }

    #header-title
    {
        font-size: 3em;
    }
}

@media only screen and (min-width: 768px) 
{
    #header-title
    {
        grid-column: 2/6;
    }

    #nav-inner-holder
    {
        display: grid;
        justify-content: end;
        grid-column: 6/12;
    }   

    #nav-inner-holder .nav-menu-option
    {
        margin-left: .25em;
    }

    #intro
    {
        grid-column: 2/6;
        grid-row: 1;
        align-self: center;
    }

    #intro .card-title
    {
        font-size: 2em;
    }

    #image-holder
    {
        grid-column: 7/12;
        grid-row: 1;
    }
}

@media only screen and (min-width: 1024px) 
{

    #header-title
    {
        grid-column: 2/6;
    }

    .nav-menu-option
    {
        font-size: .5em;
    }

    #image-holder
    {
        grid-column: 7/12;
    }

  
    .card-title
    {
        font-size: 2em;
    }

    .card-text
    {
        font-size: 1em;
    }



    #intro
    {
        grid-column: 2/7;
    }
}

@media only screen and (min-width: 1440px) 
{
    #intro .card-title
    {
        font-size: 3em;
    }
}


@media only screen and (min-width: 2560px) 
{
      .card-title
    {
        font-size: 2.5em;
    }

    .card-text
    {
        font-size: 1.5em;
    }

    .card-link
    {
        font-size: 2em;
    }
   
}
